<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EBRAXRS232Service.RS232PortReaderSrv" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="EBRAXRS232Service.RS232Port" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%logger] %level - %message%newline%exception"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
    <applicationSettings>
        <EBRAXRS232Service.RS232PortReaderSrv>
            <setting name="RunProgram" serializeAs="String">
                <value>NDCSendMessage.exe</value>
            </setting>
            <setting name="LogSource" serializeAs="String">
                <value>EBRAXSerialReader</value>
            </setting>
            <setting name="LogLog" serializeAs="String">
                <value>SerialReader</value>
            </setting>
            <setting name="ReadSleepTime" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="EBRAXStatusLogFile" serializeAs="String">
                <value>logs\StatusHistory.log</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value>ES_ES</value>
            </setting>
            <setting name="WarningTimeout" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="MaxCycle" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ReopenTryCycle" serializeAs="String">
                <value>4</value>
            </setting>
        </EBRAXRS232Service.RS232PortReaderSrv>
        <EBRAXRS232Service.RS232Port>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="Handshake" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ReadTimeout" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="WriteTimeout" serializeAs="String">
                <value>500</value>
            </setting>
        </EBRAXRS232Service.RS232Port>
    </applicationSettings>
    <appSettings>
        <add key="EN_US_0" value="Normal"/>
        <add key="EN_US_1" value="Change Detected"/>
        <add key="EN_US_4" value="Cancelling Alarm"/>
        <add key="EN_US_5" value="Possible Skimming Detected"/>
        <add key="EN_US_6" value="Transducer Damaged/Disconnected"/>
        <add key="EN_US_7" value="Transducer Damaged/Disconnected and Sensor Activated"/>
        <add key="EN_US_9" value="Unknown Status"/>
        <add key="EN_US_80" value="Not Able to Open COM Port"/>
        <add key="EN_US_81" value="Not Able to Read COM Port since: "/>
        <add key="EN_US_89" value="Unknown COM Port Status"/>
        <add key="ES_ES_0" value="Normal"/>
        <add key="ES_ES_1" value="Cambio Detectado"/>
        <add key="ES_ES_4" value="Cancelando Alarma"/>
        <add key="ES_ES_5" value="Posible Skimming Detectado"/>
        <add key="ES_ES_6" value="Trasnductor Dañado/Desconectado"/>
        <add key="ES_ES_7" value="Trasnductor Dañado/Desconectado y Sensor Activado"/>
        <add key="ES_ES_9" value="Estado Desconocido"/>
        <add key="ES_ES_80" value="No Es Posible Abrir el Puerto COM"/>
        <add key="ES_ES_81" value="No Es Posible Leer el Puerto COM desde: "/>
        <add key="ES_ES_89" value="Estado Desconocido del Puerto COM"/>
        <add key="FR_FR_0" value="Normal"/>
        <add key="FR_FR_1" value="Chagement Détecté"/>
        <add key="FR_FR_4" value="Annulation d'Alarme"/>
        <add key="FR_FR_5" value="Probable Skimming Détecté"/>
        <add key="FR_FR_6" value="Transducteur Endommagé/Déconnecté"/>
        <add key="FR_FR_7" value="Transducteur Endommagé/Déconnecté et Détecteur Activé"/>
        <add key="FR_FR_9" value="État Inconnu"/>
        <add key="FR_FR_80" value="Impossible de ouvert le port"/>
        <add key="FR_FR_81" value="Impossible de lire le port COM depuis: "/>
        <add key="FR_FR_89" value="État Inconnu de Port COM"/>
    </appSettings>
</configuration>